# 自動處理文字檔的換行符號
* text=auto
# 確保 Unity 的特定檔案永遠被視為文字檔
*.cs text
*.cginc text
*.shader text
# 確保 Unity 的二進位檔案絕對不會被轉換換行符號 (防止損壞)
*.mat binary
*.anim binary
*.unity binary
*.prefab binary
*.physicsMaterial2D binary
*.physicsMaterial binary
*.asset binary
*.meta binary
*.controller binary
# 圖片與模型檔
*.jpg binary
*.png binary
*.tga binary
*.bmp binary
*.psd binary
*.fbx binary
*.blend binary
# 執行檔與插件 (這是最重要的，保護你的 DLL)
*.dll filter=lfs diff=lfs merge=lfs -text
*.so binary
*.dylib binary
*.exe binary
*.onnx filter=lfs diff=lfs merge=lfs -text
